<div class="container">
  <div class="user-header row">
    <div class="three columns"><%= button_to 'Kitchen', orders_path, method: :get, class: 'nav-b'%></div>
    <div class="six columns"><h2>MenuFlow</h2>
    <h5>Guest Parties</h5></div>
    <div class="three columns"><%= button_to 'Home', root_path, method: :get, class: 'nav-b'%></div>
  </div>
  <div class="new-item row">
    <div class="offset-by-four four columns"><h3>New Party</h3></div>
  </div>
  <div class="new-item-form row">
    <%= form_for @party do |f| %>
      <div class="offset-by-three four columns"><%= f.label 'Name' %>
      <%= f.text_field :name %></div>
      <div class="three columns"><%= f.label 'Number of Guests'%><%= f.number_field :size %></div>
  </div>
  <div class="new-item-submit row">
    <div class="offset-by-three six columns">
      <%= f.submit 'Create', class: 'main-b' %>
    </div>
  </div>
  <% end %>

  <div class="items row">
    <% @active_parties.each do |party| %>
      <% if (@active_parties.index(party) % 4) == 0 %>
        </div>
        <div class="items row">
      <% end %>
      <div class="three columns item-box">
        <h4><%= party.name %></h4>
        <h5>Party of <%= party.size %></h5>
        <h5 class="balance">$<%= '%.2f' % party.bill_total %></h5>
        <div class="order-b">
          <%= button_to 'Orders', new_party_order_path(party), method: :get, class: 'main-b green-b'%>
        </div>
        <div class="paid-b">
          <%= form_for party, url: party_path(party), method: :patch do |f| %>
            <%= f.hidden_field :paid, value: 'yes' %>
            <%= f.submit 'Paid', class: 'main-b' %>
          <% end %>
        </div>
        <span class="item-box-link"><%= link_to 'Delete', party_path(party), method: :delete%></span>
      </div>
    <% end %>
  </div>

  <div class="new-item row">
    <div class="offset-by-four four columns"><h3>Paid Parties</h3></div>
  </div>

  <div class="items row">
    <% @paid_parties.each do |party| %>
      <% if (@paid_parties.index(party) % 4) == 0 %>
        </div>
        <div class="items row">
      <% end %>
      <div class="three columns item-box">
        <h4><%= party.name %></h4>
        <h5>Party of <%= party.size %></h5>
        <h5 class="balance">$<%= '%.2f' % party.bill_total %></h5>
        <span class="item-box-link"><%= link_to 'Receipt', party_path(party)%></span>
        <span class="item-box-link"><%= link_to 'Delete', party_path(party), method: :delete%></span>
      </div>
    <% end %>
  </div>
</div>
