<div class="container">
  <div class="user-header row">
    <div class="three columns"><%= button_to 'Parties', parties_path, method: :get, class: 'nav-b'%></div>
    <div class="six columns"><h2>MenuFlow</h2>
    <h5>Guest Parties</h5></div>
    <div class="three columns"></div>
  </div>
  <div class="new-item row">
    <div class="offset-by-two eight columns"><h3>Receipt for the <%= @current_party.name %> Party</h3></div>
  </div>
  <div class="row">
    <div class="offset-by-three six columns">
      <table class="receipt">
        <thead>
          <th>Item</th>
          <th>Price</th>
        </thead>
        <% @current_party.orders.each do |order| %>
        <tr>
          <td><%= order.menu_item.name %></td>
          <td><%= display_currency(order.menu_item.price) %></td>
        </tr>
        <% end %>
        <tr>
          <td class="receipt-total">TOTAL</td>
          <td class="receipt-total"><%=display_currency(@current_party.bill_total) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div id='tip-tips' class="offset-by-two five columns">
      <h4>Grand Total with ...</h4>
      <h5 class="tip-total">15% tip : &nbsp;<%= display_currency((@current_party.bill_total * 1.15)) %></h5>
      <h5 class="tip-total">20% tip : &nbsp;<%= display_currency((@current_party.bill_total * 1.20)) %></h5>
      <h5 class="tip-total">25% tip : &nbsp;<%= display_currency((@current_party.bill_total * 1.25)) %></h5>
    </div>
  </div>
</div>
