<div class="container">
  <div class="user-header row">
    <div class="three columns"><h5>Hi, <%= @current_user.first_name %>!</h5></div>
    <div class="six columns"><h2>Menu Manager</h2>
    <%= button_to 'Manage Employees', employees_path, method: :get, class: 'nav-b'%></div>
    <div class="three columns"><%= button_to 'Log Out', sessions_path, class: 'logout-b', method: :delete %></div>
  </div>
  <div class="new-item row">
    <div class="offset-by-four four columns"><h3>New Item</h3></div>
  </div>
  <div class="new-item-form row">
    <%= form_for @menu_item do |f| %>
      <div class="two columns"><%= f.label 'Category' %>
      <%= f.select(:category, ['Appetizers', 'Entrees', 'Drinks', 'Desserts'])%></div>
      <div class="three columns"><%= f.label 'Item Name'%><%= f.text_field :name %></div>
      <div class="three columns"><%= f.label 'Description'%><%= f.text_field :description %></div>
      <div class="three columns"><%= f.label 'Price'%><%= f.number_field :price %></div>
  </div>
  <div class="new-item-submit row">
    <div class="offset-by-three six columns">
      <%= f.submit 'Create', class: 'main-b' %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="twelve columns">
      <h3 class='menu-heading'>Appetizers</h3>
    </div>
  </div>

  <div class="menu-row row">
    <% @appetizers.each do |app| %>
      <% if (@appetizers.index(app) % 3) == 0 %>
        </div>
        <div class="menu-row row">
      <% end %>
      <div class="four columns menu-box app">
        <h4><%= app.name %></h4>
        <h5><%= display_currency(app.price)%></h5>
        <p><%= app.description%></p>
        <span class="item-box-link"><%= link_to 'Edit', edit_menu_item_path(app)%></span>
        <span class="item-box-link"><%= link_to 'Delete', menu_item_path(app), method: :delete%></span>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="twelve columns">
      <h3 class='menu-heading'>Entrees</h3>
    </div>
  </div>

  <div class="menu-row row">
    <% @entrees.each do |entree| %>
      <% if (@entrees.index(entree) % 3) == 0 %>
        </div>
        <div class="menu-row row">
      <% end %>
      <div class="four columns menu-box entree">
        <h4><%= entree.name %></h4>
        <h5><%= display_currency(entree.price)%></h5>
        <p><%= entree.description%></p>
        <span class="item-box-link"><%= link_to 'Edit', edit_menu_item_path(entree)%></span>
        <span class="item-box-link"><%= link_to 'Delete', menu_item_path(entree), method: :delete%></span>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="twelve columns">
      <h3 class='menu-heading'>Drinks</h3>
    </div>
  </div>

  <div class="menu-row row">
    <% @drinks.each do |drink| %>
      <% if (@drinks.index(drink) % 3) == 0 %>
        </div>
        <div class="menu-row row">
      <% end %>
      <div class="four columns menu-box drink">
        <h4><%= drink.name %></h4>
        <h5><%= display_currency(drink.price)%></h5>
        <p><%= drink.description%></p>
        <span class="item-box-link"><%= link_to 'Edit', edit_menu_item_path(drink)%></span>
        <span class="item-box-link"><%= link_to 'Delete', menu_item_path(drink), method: :delete%></span>
      </div>
    <% end %>
  </div>


  <div class="row">
    <div class="twelve columns">
      <h3 class='menu-heading'>Desserts</h3>
    </div>
  </div>

  <div class="menu-row row">
    <% @desserts.each do |dessert| %>
      <% if (@desserts.index(dessert) % 3) == 0 %>
        </div>
        <div class="menu-row row">
      <% end %>
      <div class="four columns menu-box dessert">
        <h4><%= dessert.name %></h4>
        <h5><%= display_currency(dessert.price)%></h5>
        <p><%= dessert.description%></p>
        <span class="item-box-link"><%= link_to 'Edit', edit_menu_item_path(dessert)%></span>
        <span class="item-box-link"><%= link_to 'Delete', menu_item_path(dessert), method: :delete%></span>
      </div>
    <% end %>
  </div>

</div>
