<%= javascript_include_tag 'orders', 'data-turbolinks-track' => true %>
<div class="container">
  <div class="user-header row">
    <div class="three columns"><%= button_to 'Parties', parties_path, method: :get, class: 'nav-b'%></div>
    <div class="six columns"><h2>MenuFlow</h2>
    <h5>All Orders</h5></div>
    <div class="three columns"></div>
  </div>

  <% @orders.each do |order| %>
    <% if order.done != 'yes' %>
      <div class="party-order row">
        <div class="three columns"><h4><%= order.menu_item.name %></h4></div>
        <div class="two columns"><h4><%= order.party.name%></h4></div>
        <div class="two columns"><h4><%= order.comments%></h4></div>
        <div class="three columns"><h5 class="timestamp"><%= order.created_at.strftime('%B %d, %Y %H:%M:%S')%></h5></div>
        <div class="two columns">
          <%= form_for order, url: party_order_path(order.party, order), method: :patch do |f| %>
            <%= f.hidden_field :done, value: 'yes' %>
            <%= f.submit 'Done', class: 'main-b' %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
